
#list{
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#nine_dots{
    margin-top: 10px;
    height: 25px;
    width:  30px;

}
#profile{
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
}
#profile img{
    display: block;
    
    margin: 0 auto;
    height: 100%;
    width: auto;
    mask-image: radial-gradient(circle, black 50%, transparent 50%);
    mask-position: center center;
}
nav ul li:hover{
    cursor: pointer;
}
.profile-info{
    background-color: rgb(245, 248, 255);
    height: 400px;
    width: 400px;
    position: absolute;
    right: 1rem;
    border-radius: 25px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
}
.dot-info{
    background-color:rgb(222, 231, 245) ;
    height: 400px;
    width: 250px;
    position: absolute;
    right: 1rem;
    border-radius: 25px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
}
.pro{
    display: block;
}
.dot{
    display: block;

}

/*!-----Profile section-----!*/
#profile-inside{
    background-color: white;
    height: 145px;
    width: 400px;
    position: relative;
    border-radius: 25px 25px 5px 5px;
}
#profile-container{
    display: flex;
    padding: 10px;
    /* padding-bottom: 0; */
    /* background-color: red; */
    height: 70px;

}
#profile-image{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: auto;
    mask-image: radial-gradient(circle, black 50%, transparent 50%);
    mask-position: center center;
    margin-left: -20px;
}
#profile-text-info{
    /* background-color: red; */
    margin-left: -10px;
    padding-top: 10px;
    padding-right: 110px;
}
#abhinavkumar{
    font-weight: 500;
}
#abhinav-email{
    color: grey;
    font-size: 15px;
}
#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reach-me{
    cursor: pointer;
    font-weight: 600;
    padding: 10px 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
}
#reach-me:hover{
    background-color: rgb(235, 235, 235);
}
#link-inside{
    margin-top: 2px;
    background-color: white;
    height: 160px;
    width: 400px;
    position: relative;
    border-radius: 5px 5px 25px 25px;
}
#github{
    /* background-color: red; */
    padding: 10px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 8%;
}
#github:hover{
    background-color:   rgb(222, 231, 245);
    cursor: pointer;
}
#github_icon{
    display: block;
    height: 40px;
    width: auto;
    margin-left: 1px;
}
#github-text-info{
    margin-left: 10px;
}
#text-github{
    color: black;
}
#text-linkedin{
    color: black;
}
#small-text{
    color: grey;
    font-size: 13px;
}
#linkedin{
    padding: 10px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 8%;
}
#linkedin:hover{
    background-color:  rgb(222, 231, 245);
    cursor: pointer;
}
#linkedin_icon{
    display: block;
    height: 40px;
    width: auto;
    margin-left: 1px;
}
#linkedin-text-info{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: bal;
}
/*!-----Profile section end-----!*/
/*!-----Application section-----!*/
.app-wrapper{
    padding: 5px 15px;
    display: flex;
    gap: 1rem;
    background-color: white;
    box-sizing: border-box;
    height: 390px;
    border-radius: 20px;
}
.container{
    font-size: 12px;
    text-align: center;
    color: black;
    /* background-color: red; */
    padding: 10px;
    border-radius: 10px;
}
.container:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
#folder_icon{
    height: 50px;
    width: 50px;
}
#vscode_icon{
    height: 50px;
    width: 50px;    
}
/*!-----Application section end-----!*/
/*!-----Media Quieries----*/
@media (max-width:600px) {
    .dot-info{
        height: 550px;
        width: 300px;
        z-index: 2;
    }
    .app-wrapper{
        height: 530px;
    }
    .profile-info{
        z-index: 2;
        width: 320px;
    }
    #profile-inside{
        width: 300px;
        height: 150px;
    }
    #abhinavkumar{
        /* background-color: red; */
        width: 200%;
    }
    #abhinav-email{
        width: 150%;
        font-size: 13px;
    }
    #btn-container{
        margin-top: 5%;
    }
    #link-inside{
        width: 300px;
    }
}