@use postcss-preset-env;
#nav{
    /* background-color: red; */
}
#list{
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
}
nav ul li a{
    text-decoration: none;
}
#nine_dots{
    margin-top: 10px;
    height: 25px;
    width:  30px;

}
#profile{
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
}
#profile img{
    display: block;
    
    margin: 0 auto;
    height: 100%;
    width: auto;
    mask-image: radial-gradient(circle, black 50%, transparent 50%);
    mask-position: center center;
}
nav ul li:hover{
    cursor: pointer;
}
.profile-info{
    background-color: white;
    height: 400px;
    width: 400px;
    position: absolute;
    right: 1rem;
    border-radius: 25px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
}
.dot-info{
    background-color: white;
    height: 400px;
    width: 400px;
    position: absolute;
    right: 1rem;
    border-radius: 25px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
}
.pro{
    display: block;
}
.dot{
    display: block;
}