#wrapper{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#google{
    height: 250px;
    width: 450px;
    object-fit: cover;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgba(0, 0, 0, 0.1) solid;
    border-radius: 50px;
    padding: 7px 10px;
    margin-top: -40px;
}
#search:hover{
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}
#search-icon{
    width: 15x;
    height: 15px;
    padding: 0px 15px;
    opacity: 50%;
    z-index: 1;
}
#input{
    width: 500px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    /* pointer-events: none; */
}

#input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    content: url("./images/closeicon.png");
    width: 25px;
    height: 25px;
    opacity: 60%;
    color: black;
    cursor: pointer;
}
/*!------- suggestion -------- */
.suggestions{
    margin-top:200px ;
    background-color: white;
    height: 200px;  
    width: 610px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: absolute;
    top: 7em;
    display:none
}

.showsug{
    display: block;
}
.showsug:hover{
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}
.sugg-element-1{
    border-radius: 30px 30px 0 0 ;
    padding: 2%;
    display: flex;
    color: black;
    gap: 1em;
    align-items: center;
}

.sugg-element-1:hover{
    background-color: rgb(235, 241, 251);
}
.sugg-element{
    /* border-radius: 30px 30px 0 0 ; */
    padding: 2%;
    display: flex;
    gap: 1em;
    align-items: center;
    color: black;
}
.op{
    opacity: 50%;
}
.sugg-element:hover{
    background-color: rgb(235, 241, 251);
}
#clock-icon{
    margin-left: 2%;
    height: 15px;
    width: 15px;
    opacity: 50%;
}
/*!------- suggestion end -------- */

#mic-icon{
    /* width: 35px; */
    height: 35px;
    padding: 0px 5px;
}
#mic-icon:hover{
    cursor: pointer;
}
#links{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat((2,1fr));
    column-gap:80px ;
    row-gap:20px ;
    /* background-color: red; */
}
.link-containers{
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
#links a {
    text-decoration: none;
    color: black;
}
.link-containers:hover{
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.icons{
    /* background-color: red; */
    height: 40px;
    width: 40px;
}
.icons:hover{
    cursor: pointer;
}

@media (max-width:600px) {
    #google{
        height: 150px;
        width: 350px;
        margin-bottom: 5%;
    }
    #input{
        width: 200px;
        height: 15px;
        font-size: 12px;
    }
    #mic-icon{
        height: 30px;
        width: 40px;
    }
    #links{
        column-gap: 10px;
    }
    .suggestions{
        width: 350px;
        top: 2em;
    }
}